doctype html
html
  head
    title= 'Create your TODO List!'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon' type='image/png' href='/images/to-do-list.png')
    script(src='/javascripts/script.js' defer)
  body
    block content
